.header__wrap {
    height: 410px;
}

.header__background {
    height: 100%;
    width: 100%;
}

.header__background .header__bg-image {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    z-index: var(--header-priority);
    align-items: flex-start;
    width: 100%;
    padding: 26px 16px 0;
}

.header .header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header__navigation--grey .burger-menu__icon,
.lang .lang__toggle,
.lang .lang__dropdown {
    background-color: var(--grey-primary);
}

.burger-menu .menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: var(--menu-priority);
    display: none;
    max-width: 480px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--white-background);
}

.menu.menu--opened {
    display: block;
}

.menu .menu__content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.menu .menu__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.menu .menu__item:not(:last-child) {
    padding-bottom: 50px;
}

.menu .menu__item_link {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 2px;
}

.menu .menu__btn-close {
    position: absolute;
    top: 26px;
    right: 16px;
}

.menu .menu__btn-close .feather-x {
    width: 36px;
    height: 36px;
}

.lang__toggle,
.lang__dropdown,
.burger-menu__icon {
    background-color: var(--white);
    border-radius: 12px;
}

.header .lang {
    position: relative;
}

.lang__toggle {
    padding: 13px 12px 11px 16px;
    display: flex;
    justify-content: center;
}

.lang__toggle .lang__toggle__name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-top: 1px;
}

.lang__toggle .lang__toggle__icon--closed {
    display: none;
}

.lang__toggle .lang__toggle__icon--opened {
    display: block;
}

.lang .lang__dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 56px;
    padding: 28px 20px;
    z-index: var(--language-dropdown-priority);
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.25);
}

.lang__dropdown.lang__dropdown--opened {
    display: block;
}

.lang__dropdown .lang__dropdown__item {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

.lang__dropdown .lang__dropdown__item:not(:last-child) {
    padding-bottom: 24px;
}

.burger-menu__icon,
.menu__btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding-top: 3px;
}

.burger-menu__icon .feather-menu {
    width: 30px;
    height: 30px;
}
