/*RESTAURANT SERVICES LINK*/

.service-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 264px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

.service-info__icon svg {
    pointer-events: none;
}

.landing .btn-main__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.btn-main__wrapper .btn-main {
    padding: 20px 0;
    max-width: 382px;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

/*MODAL*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--modal-priority);
    background: #ffffff;
    box-shadow: 0 0 34px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 12px;
    outline: none;
    padding: 50px 24px 24px;
    max-width: 342px;
    width: 100%;
    text-align: center;
}

.modal__header__icon svg {
    width: 40px;
    height: 40px;
}

.modal__header__title {
    padding-top: 18px;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 22px;
}

.modal__content {
    padding: 56px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__content__group:not(:last-child) {
    padding-bottom: 40px;
}

.modal__content__subtitle {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 14px;
}

.modal__content__description {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.modal__content > .modal__content__description:not(:first-of-type) {
    padding-top: 28px;
}

.modal__content .btn-copy {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-primary);
}

.modal__content .btn-copied {
    max-width: 140px;
    width: 100%;
    border-radius: 12px;
    padding: 14px 20px;
    background-color: var(--white);
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.modal__content .btn-copy--hidden,
.btn-copied--hidden {
    display: none;
}

.modal__content__action {
    padding-top: 28px;
}

.modal__footer .btn-main {
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.modal::backdrop {
    background: rgba(31, 32, 33, 0.8);
}

.modal[open] {
    animation: fade-in 500ms forwards;
}

.modal[close] {
    display: block;
    pointer-events: none;
    inset: 0;
    animation: fade-out 500ms forwards;
}

.modal .modal--clock,
.modal--wifi,
.modal--phone,
.modal--map-pin {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
